<!DOCTYPE html>
<html lang="en" ng-app="firstApp">
<head>
  <meta charset="UTF-8">
  <title>Hi {{ name }}</title>
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
  <script src="js/main.ctrl.js"></script>
  <link href="css/app.css" rel=stylesheet>
</head>
<body>
<div ng-controller="MainCtrl">
  <table width="100%">
    <tr ng-repeat="contact in contactContainer.contactList">
      <td>{{ contact.getName() }}</td>
      <td>{{ contact.getEmail() }}</td>
      <td>{{ contact.getPhone() }}</td>
      <td ng-bind-html="contact.getUrlLink()"></td>
      <td>{{ contact.getNotes() }}</td>
      <td></td>
    </tr>
  </table>
  <br/><br/>
  Private Var: {{contactContainer.getPrivateVar()}}
</div>
<div ng-controller="SecondCtrl">
  Edit contact at index 1<br/>
  Row: <input ng-model="row" ng-change="name=contactContainer.contactList[row].getName()">
  <div>
    Name: <input ng-model="name" ng-change="contactContainer.contactList[row].setName(name)">
  </div>
</div>
</body>
</html>