<!DOCTYPE html>
<html lang="en" ng-app="firstApp">
<head>
  <meta charset="UTF-8">
  <title>Contact with $http</title>
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
  <script src="js/main.ctrl.js"></script>
  <link href="css/app.css" rel=stylesheet>
</head>
<body>
<div ng-controller="MainCtrl">
  <h1>Example 1</h1>
  <input ng-model="greeting" type="text"><br>
  No filter: {{greeting}}<br>
  Reverse: {{greeting|reverse}}<br>
  Reverse + uppercase: {{greeting|reverse:true}}<br>
  Reverse, filtered in controller: {{filteredGreeting}}<br>
  <br>
  <br>
  <h1>Example 2</h1>
  Input: <input ng-model="greeting2" type="text"><br>
  Decoration: <input ng-model="decoration.symbol" type="text"><br>
  No filter: {{greeting2}}<br>
  Decorated: {{greeting2 | decorate}}<br>
</div>
</body>
</html>