<!doctype html>
<html lang="en" ng-app="contactApp">
<head>
  <meta charset="utf-8">
  <title>Contact List</title>
  <link href="css/app.css" rel=stylesheet>
  <script src="bower_components/angular/angular.js"></script>
  <script src="js/main.ctrl.js"></script>
</head>
<body>
<div ng-controller="MainCtrl">
  <div ng-repeat="innerList in list" ng-init="outerIndex = $index">
    <div ng-repeat="value in innerList" ng-init="innerIndex = $index">
       <span class="example-init">list[ {{outerIndex}} ][ {{innerIndex}} ] = {{value}};</span>
    </div>
  </div>
</div>
</body>
</html>